<div class="h-dvh w-dvh flex">
  <!-- Header -->

  <app-header-side-bar></app-header-side-bar>
  <div class="mt-16 ml-64">
    <div class="flex items-center justify-center w-full p-6">
      <div>
        <textarea [(ngModel)]="message" placeholder="Enter message"></textarea>
        <div>
        <button
          class="bg-red-500 text-white px-3 py-1 rounded"
          (click)="rejectReceiver(receiver.id, message)"
        >
          Send Message
        </button>
        </div>
        <div >
        </div>
      </div>
    </div>
  </div>
</div>
