<div class="h-dvh w-dvh flex">
  <!-- Header -->
  <div class="h-16 fixed top-0 z-50 bg-red-600 text-white p-3 w-full flex items-center justify-between shadow-lg">
    <div class="flex items-center">
      <button (click)="show_slidebar()"
        class="pi pi-bars cursor-pointer p-2 text-base flex items-center justify-center"></button>
      <span class="font-semibold capitalize text-xl ml-4">
        {{ selectedPage }}
      </span>
    </div>
    <div class="flex items-center space-x-4">
      <!-- Profile Icon -->
      <div for="roledropdown" id="temp" class="pi pi-user p-2 border-2 rounded-full cursor-pointer"
        (mouseover)="this.isclick=true" (mouseout)="this.isclick=false">
      </div>
      <div *ngIf="isclick" class="absolute bg-white text-black p-4 rounded shadow-md right-8 top-16">
        <p>
          {{ det.user_name }} <br>
          {{ det.email }} <br>
          {{ c_role }}
        </p>
      </div>

     <!-- switchRole -->
     <div class="relative inline-block text-left">
      <button
        class="px-4 py-2 bg-red-700 text-white rounded-lg hover:bg-red-500 transition-colors duration-300"
        (click)="toggleDropdown()"
      >
        Switch Role
      </button>
    
      <!-- Dropdown Menu -->
      <div
        *ngIf="showDropdown"
        class="absolute mt-2 w-40 bg-white rounded-lg shadow-lg z-10"
      >
        <button
          class="w-full px-4 py-2 text-left text-gray-700 hover:bg-gray-100 transition-colors duration-300"
          (click)="selectRole('donors')"
          routerLink="/donor_c"
        >
          Donors
        </button>
        <!-- <button
          class="w-full px-4 py-2 text-left text-gray-700 hover:bg-gray-100 transition-colors duration-300"
          (click)="selectRole('org')"
        >
          Org
        </button> -->
      </div>
    </div>
    
    </div>
  </div>

  <!-- Sidebar -->
  <nav
    class="fixed top-16 left-0 z-50 h-full bg-red-600 text-white flex flex-col transition-all duration-300 w-14 hover:w-56 group">
    <div *ngFor="let op of menu" (click)="NavToPage(op.path); onPageChange(op.label)"
      class="h-16 px-4 flex items-center cursor-pointer hover:bg-red-500 transition-colors duration-300">
      <i [class]="op.icon + ' text-xl mr-4'"></i>
      <span
        class="ml-2 text-white text-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap capitalize">
        {{ op.label }}
      </span>
    </div>
  </nav>
  <div
  class="h-[6cm] w-[6cm] bg-white shadow-lg rounded-lg flex flex-col justify-center items-center p-4 ml-60 mt-20"
>
  <h2 class="text-center text-sm font-semibold text-gray-800">
    Make Request to Org
  </h2>
  <button
    class="mt-4 px-2 py-1 bg-red-700 text-white text-sm font-medium rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400"
    routerLink="/rec-form"
  >
    Open
  </button>
</div>

  
  <div class="mt-16 w-full ml-14 transition-all duration-300">
  </div>
</div>
