<div class="h-dvh w-dvh flex">
  <!-- Header -->

  <app-header-side-bar></app-header-side-bar>
  <div class="mt-16 ml-64">
    <div class="flex items-center justify-center w-full p-6">
      <!-- Popup -->
      <div
        class="fixed z-10 top-0 left-0 w-full py-2 bg-red-600 text-white text-center"
        *ngIf="showPopup"
      >
        {{ popupMessage }}
      </div>
      <div
        class="max-w-lg w-full bg-white shadow-xl rounded-2xl overflow-hidden border border-red-400"
      >
        <!-- Receiver Details Section -->
        <div class="px-8 py-6">
          <h2 class="text-3xl font-semibold text-red-700 text-center">
            Donor Details
          </h2>
          <div class="mt-5 mb-6 text-gray-700">
            <p class="text-sm">
              <strong class="text-black-900">Username:</strong>
              {{ donorDetails[0].Name }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">Email:</strong> {{ donor.email }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">BloodGroup Required:</strong>
              {{ donorDetails[0].BloodGroup }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">Age:</strong>
              {{ donorDetails[0].Age }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">Gender:</strong>
              {{ donorDetails[0].Gender }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">HealthIssues:</strong>
              {{ donorDetails[0].HealthIssues }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">MobileNumber:</strong>
              {{ donorDetails[0].Mobile_Number }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">Blood Quantity:</strong>
              {{ donorDetails[0].blood_quantity }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">last Date:</strong>
              {{ donorDetails[0].LastDonatedDate }}
            </p>
            <p class="text-sm">
              <strong class="text-black-900">location:</strong>
              {{ donorDetails[0].location }}
            </p>
          </div>

          <!-- Request Button Section -->
          <div
            class="px-8 py-6 bg-red-50 border-t border-red-300"
            *ngIf="currentPath == '/org/view_donor'"
          >
            <button
              (click)="acceptDonor(donor.donor_id)"
              class="bg-green-500 text-white px-3 py-1 rounded mr-2"
            >
              Accept
            </button>
            <button
              (click)="rejectDonor(donor.donor_id)"
              class="bg-red-500 text-white px-3 py-1 rounded"
            >
              Reject
            </button>
          </div>

          <div
            class="px-8 py-6 bg-red-50 border-t border-red-300"
            *ngIf="currentPath == '/org/view_donor_requests'"
          >
            <button
              (click)="requestDonor(donor.donor_id)"
              class="bg-green-500 text-white px-3 py-1 rounded ml-40"
            >
              request
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
