<div class="h-dvh w-dvh flex">
  <!-- Header -->

  <app-header-side-bar></app-header-side-bar>
  <div class="mt-16 ml-64">
    <div class="flex items-center justify-center w-full p-6">
      <div *ngIf="currentPath == '/org/receiver/MessageToReject'">
        <textarea [(ngModel)]="message" placeholder="Enter message"></textarea>
        <button
          class="bg-red-500 text-white px-3 py-1 rounded"
          (click)="rejectDonor(message, donor.email)"
        >
          Send Message
        </button>
      </div>
      <div *ngIf="currentPath == '/org/donor/MessageToReject'">
        <textarea [(ngModel)]="message" placeholder="Enter message"></textarea>
        <p>{{ donor.id }}</p>
        <button
          class="bg-red-500 text-white px-3 py-1 rounded"
          (click)="rejectDonor(message, donor.email)"
        >
          Send Message
        </button>
      </div>
      <div *ngIf="currentPath == '/org/donor/MessageToRequest'">
        <textarea
          [(ngModel)]="messageToRequest"
          placeholder="Enter message"
        ></textarea>
        <button
          class="bg-red-500 text-white px-3 py-1 rounded"
          (click)="requestDonor(donor.id, messageToRequest, donor.email)"
        >
          Send Message
        </button>
      </div>
    </div>
  </div>
</div>
