
<div *ngIf="organizationProfile">
  <h2>Organization Profile</h2>
  <p><strong>Name:</strong> {{ organizationProfile.name }}</p>
  <p><strong>Email:</strong> {{ organizationProfile.email }}</p>
  <p><strong>Phone:</strong> {{ organizationProfile.phone }}</p>
  <p><strong>Address:</strong> {{ organizationProfile.address }}</p>
  <p><strong>Blood Groups:</strong></p>
  
<ul>
  <li *ngFor="let bloodGroup of bloodGroupsArray">
    {{ bloodGroup.bloodGroup }}: {{ bloodGroup.quantity }}
  </li>
</ul>

</div>
<div *ngIf="!organizationProfile">
  <p>Loading profile data...</p>
</div>
